.table-wrapper {
    border-collapse: collapse;
    margin-bottom: 25px;
    font-size: 0.9em;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #1447ff;
    color: #ffffff;
    text-align: left;
}

.table-wrapper th,
.table-wrapper td {
    padding: 12px 15px;
    min-width: 300px;
}
.table-wrapper tbody tr {
    border-bottom: 1px solid #dddddd;
}

.table-wrapper tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

#header {
    height: auto;
    background-color: #000000;
    position: sticky;
    top: 0;
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

input {
    height: 25px;
    margin-top: 25px;
    margin-bottom: 15px;
    padding: 5px;
    width: 300px;
}

#header div {
    margin-top: -10px;
    padding-bottom: 15px;
}

#header span {
    color: #ffffff;
    font-size: 12px;
}

